*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-tan: #e6e2d3;
    --color-blue: #008cba;
    --color-white: #f0f0f0;
    --color-red: #c94c4c;
}
body {
    height: 100%;
    width: 100%;
    background-color: var(--color-white);
}

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}
.form--input {
    width: 100%;
    max-width: 300px;
    height: 4rem;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-right: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: lighter;
}
.form--button {
    background-color: var(--color-blue);
    color: white;
    text-transform: lowercase;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    border: none;
    font-weight: lighter;
}
button:hover, button:focus, 
.lists--li--h2:hover, .lists--li--h2:focus {
    cursor: pointer
}
.section {
    border: 5px solid var(--color-tan);
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
}
.lists {
    margin-bottom: 1rem;
}
.lists--li {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    background-color: var(--color-tan);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.lists--li--h2 {
    text-align: center;
    font-weight: lighter;
    position: relative;
}
.lists--li--wrapper {
    margin-left: auto;
}
.editButton, .deleteButton {
    border: none;
    border-radius: 3px;
    height: 3rem;
    width: 4rem;
    margin-left: .5rem;
    color: white;
}
.editButton {
    background-color: var(--color-blue);
}
.deleteButton {
    background-color: var(--color-red);
}
.strikeThrough {
    text-decoration: line-through
}
#editTask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: lighter;
}
.noActiveList {
    display: table;
    margin: 0 auto;
    color: grey;
    font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
    .lists--li {
        grid-template-columns: 1fr;
    }
    .lists--li--wrapper {
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}